{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock title %}
{% block content %}

<body>

    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        <!-- cursor -->
        <div class="mil-ball">
            <span class="mil-icon-1">
                <svg viewBox="0 0 128 128">
                    <path d="M106.1,41.9c-1.2-1.2-3.1-1.2-4.2,0c-1.2,1.2-1.2,3.1,0,4.2L116.8,61H11.2l14.9-14.9c1.2-1.2,1.2-3.1,0-4.2	c-1.2-1.2-3.1-1.2-4.2,0l-20,20c-1.2,1.2-1.2,3.1,0,4.2l20,20c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9c1.2-1.2,1.2-3.1,0-4.2	L11.2,67h105.5l-14.9,14.9c-1.2,1.2-1.2,3.1,0,4.2c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9l20-20c1.2-1.2,1.2-3.1,0-4.2L106.1,41.9	z" />
                </svg>
            </span>
            <div class="mil-more-text">More</div>
            <div class="mil-choose-text">Сhoose</div>
        </div>
        <!-- cursor end -->

        <!-- preloader -->
        <div class="mil-preloader">
            <div class="mil-preloader-animation">
                <div class="mil-pos-abs mil-animation-1">
                    <p class="mil-h3 mil-muted mil-thin">Pioneering</p>
                    <p class="mil-h3 mil-muted">Creative</p>
                    <p class="mil-h3 mil-muted mil-thin">Excellence</p>
                </div>
                <div class="mil-pos-abs mil-animation-2">
                    <div class="mil-reveal-frame">
                        <p class="mil-reveal-box"></p>
                        <p class="mil-h3 mil-muted mil-thin">ashley.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!-- scrollbar progress -->
        <div class="mil-progress-track">
            <div class="mil-progress"></div>
        </div>
        <!-- scrollbar progress end -->

        <!-- menu -->
        <div class="mil-menu-frame">
            <!-- frame clone -->
            <div class="mil-frame-top">
                <a href="{% url 'home-page' %}" class="mil-logo">A.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <!-- frame clone end -->
            <div class="container">
                <div class="mil-menu-content">
                    <div class="row">
                        <div class="col-xl-5">

                            <nav class="mil-main-menu" id="swupMenu">
                                <ul>
                                    <li class="mil-has-children ">
                                        <a href="{% url 'home-page' %}">Homepage</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'portfolio-page' %}">Portfolio</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'service-page' %}">Services</a>
                                    </li>
                                    <li class="mil-has-children mil-active">
                                        <a href="{% url 'blog-page' %}">Blog</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'team-page' %}">Team</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'contact-page' %}">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu -->

        <!-- curtain -->
        <div class="mil-curtain"></div>
        <!-- curtain end -->

        <!-- frame -->
        <div class="mil-frame">
            <div class="mil-frame-top">
                <a href="{% url 'home-page' %}" class="mil-logo">A.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <div class="mil-frame-bottom">
                <div class="mil-current-page"></div>
                <div class="mil-back-to-top">
                    <a href="#top" class="mil-link mil-dark mil-arrow-place">
                        <span>Back to top</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner mil-p-0-120">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-mb-60">
                                <li><a href="{% url 'home-page' %}">Homepage</a></li>
                                <li><a href="{% url 'blog-page' %}">Blog</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Exploring <span class="mil-thin">the World</span> <br> Through Our <span class="mil-thin">Blog</span></h1>
                            <a href="#blog" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Publications</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- popular -->
                <section class="mil-soft-bg" id="blog">
                    <div class="container mil-p-120-60">
                        <div class="row align-items-center mil-mb-30">
                            <div class="col-lg-6 mil-mb-30">
                                <h3 class="mil-up">Popular Publications:</h3>
                            </div>
                            <div class="col-lg-6 mil-mb-30">
                                <div class="mil-adaptive-right mil-up">
                                    <a href="blog-inner.html" class="mil-link mil-dark mil-arrow-place">
                                        <span>View all</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for blog in popular_blogs %}
                            <div class="col-lg-6">

                                <a href="{% url 'blog-detail-page' blog.slug %}" class="mil-blog-card mil-mb-60">
                                    <div class="mil-cover-frame mil-up">
                                        <img src="{{blog.image.url}}" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">{{blog.category}}</div>
                                            <div class="mil-label mil-upper">{{blog.created_date}}</div>
                                            <div class="mil-label mil-upper">👁️‍🗨️ {{blog.hit_count.hits}}</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">{{blog.title}}</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">{{blog.content | safe | truncatewords:20 }}</p>                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>
                                
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- popular end -->

                <!-- blog -->
                <section>
                    <div class="container mil-p-120-120">
                        <div class="row align-items-center mil-mb-30">
                            <div class="col-lg-4 mil-mb-30">
                                <h3 class="mil-up">Categories:</h3>
                            </div>
                            <div class="col-lg-8 mil-mb-30">
                                <div class="mil-adaptive-right mil-up">

                                    <ul class="mil-category-list">
                                        {% for category in categories %}
                                        <li><a href="#">{{category.name}}</a></li>
                                        {% endfor %}
                                        <li><a href="#" class="mil-active">All categories</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for blog in page_obj %}
                            <div class="col-lg-12">
                                <a href="{% url 'blog-detail-page' blog.slug %}" class="mil-blog-card mil-blog-card-hori mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-up">
                                        <img src="{{blog.image.url}}" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">{{blog.category}}</div>
                                            <div class="mil-label mil-upper">{{blog.created_date}}</div>
                                            <div class="mil-label mil-upper">👁️‍🗨️ {{blog.hit_count.hits}}</div>
                                        </div>
                                        class="mil-up mil-mb-30">{{blog.title |truncatewords:4}}
                                        {{blog.content | safe | truncatewords:20 }}
                                        
                                    </div>
                                </a>

                            </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <div class="mil-pagination">
                                    {% for p in page_count %}
                                    
                                    {% if p == page %}
                                    <a href="?page={{ p }}" class="mil-pagination-btn mil-active">{{p}}</a>
                                    {% else %}
                                    <a href="?page={{ p }}" class="mil-pagination-btn ">{{p}}</a>
                                    {% endif %}
                                    <!-- <a href="blog-inner.html" class="mil-pagination-btn">2</a>
                                    <a href="blog-inner.html" class="mil-pagination-btn">3</a>
                                    <a href="blog-inner.html" class="mil-pagination-btn">4</a>
                                    <a href="blog-inner.html" class="mil-pagination-btn">5</a> -->
                                    {% endfor %}
                                </div>
                                <!-- <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                        </span>
                                
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- blog end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Stay up-to-date <span class="mil-thin">with the</span><br> latest news by <span class="mil-thin">subscribing</span><br> to our <span class="mil-thin">newsletter!</span></h2>
                            <div class="row justify-content-center mil-up">
                                <div class="col-lg-4">
                                    <form class="mil-subscribe-form mil-subscribe-form-2 mil-up">
                                        <input type="text" placeholder="Enter our email">
                                        <button type="submit" class="mil-button mil-icon-button-sm mil-arrow-place"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->
                {% endblock content %}