{% extends 'base.html' %}
{% load static %}
{% block title %} Services {% endblock title %}
{% block content %}

<body>

    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        <!-- cursor -->
        <div class="mil-ball">
            <span class="mil-icon-1">
                <svg viewBox="0 0 128 128">
                    <path d="M106.1,41.9c-1.2-1.2-3.1-1.2-4.2,0c-1.2,1.2-1.2,3.1,0,4.2L116.8,61H11.2l14.9-14.9c1.2-1.2,1.2-3.1,0-4.2	c-1.2-1.2-3.1-1.2-4.2,0l-20,20c-1.2,1.2-1.2,3.1,0,4.2l20,20c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9c1.2-1.2,1.2-3.1,0-4.2	L11.2,67h105.5l-14.9,14.9c-1.2,1.2-1.2,3.1,0,4.2c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9l20-20c1.2-1.2,1.2-3.1,0-4.2L106.1,41.9	z" />
                </svg>
            </span>
            <div class="mil-more-text">More</div>
            <div class="mil-choose-text">Сhoose</div>
        </div>
        <!-- cursor end -->

        <!-- preloader -->
        <div class="mil-preloader">
            <div class="mil-preloader-animation">
                <div class="mil-pos-abs mil-animation-1">
                    <p class="mil-h3 mil-muted mil-thin">Pioneering</p>
                    <p class="mil-h3 mil-muted">Creative</p>
                    <p class="mil-h3 mil-muted mil-thin">Excellence</p>
                </div>
                <div class="mil-pos-abs mil-animation-2">
                    <div class="mil-reveal-frame">
                        <p class="mil-reveal-box"></p>
                        <p class="mil-h3 mil-muted mil-thin">ashley.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!-- scrollbar progress -->
        <div class="mil-progress-track">
            <div class="mil-progress"></div>
        </div>
        <!-- scrollbar progress end -->

        <!-- menu -->
        <div class="mil-menu-frame">
            <!-- frame clone -->
            <div class="mil-frame-top">
                <a href="{% url 'home-page' %}" class="mil-logo">A.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <!-- frame clone end -->
            <div class="container">
                <div class="mil-menu-content">
                    <div class="row">
                        <div class="col-xl-5">

                            <nav class="mil-main-menu" id="swupMenu">
                                <ul>
                                    <li class="mil-has-children ">
                                        <a href="{% url 'home-page' %}">Homepage</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'portfolio-page' %}">Portfolio</a>
                                    </li>
                                    <li class="mil-has-children mil-active">
                                        <a href="{% url 'service-page' %}">Services</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'blog-page' %}">Blog</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'team-page' %}">Team</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'contact-page' %}">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu -->

        <!-- curtain -->
        <div class="mil-curtain"></div>
        <!-- curtain end -->

        <!-- frame -->
        <div class="mil-frame">
            <div class="mil-frame-top">
                <a href="{% url 'home-page' %}" class="mil-logo">A.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <div class="mil-frame-bottom">
                <div class="mil-current-page"></div>
                <div class="mil-back-to-top">
                    <a href="#top" class="mil-link mil-dark mil-arrow-place">
                        <span>Back to top</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-dark-bg">
                    <div class="mil-inner-banner">
                        <div class="mi-invert-fix">
                            <div class="mil-banner-content mil-up">
                                <div class="mil-animation-frame">
                                    <div class="mil-animation mil-position-4 mil-scale" data-value-1="6" data-value-2="1.4"></div>
                                </div>
                                <div class="container">
                                    <ul class="mil-breadcrumbs mil-light mil-mb-60">
                                        <li><a href="{% url 'home-page' %}">Homepage</a></li>
                                        <li><a href="{% url 'services-page' %}">Services</a></li>
                                    </ul>
                                    <h1 class="mil-muted mil-mb-60">This is <span class="mil-thin">what</span><br> we do <span class="mil-thin">best</span></h1>
                                    <a href="#services" class="mil-link mil-accent mil-arrow-place mil-down-arrow">
                                        <span>Our services</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- banner end -->

                    <!-- services -->
                    <section id="services">
                        <div class="mi-invert-fix">
                            <div class="container mil-p-120-60">
                                <div class="row">
                                    <div class="col-lg-5">

                                        <div class="mil-lines-place mil-light"></div>

                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <a href="{% url 'service-page' %}" class="mil-service-card-lg mil-more mil-accent-cursor mil-offset">
                                                    <h4 class="mil-muted mil-up mil-mb-30">Branding and <br>Identity Design</h4>
                                                    <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                                    <ul class="mil-service-list mil-light mil-mb-30">
                                                        <li class="mil-up">UX Audits</li>
                                                        <li class="mil-up">Design thinking</li>
                                                        <li class="mil-up">Methodologies</li>
                                                        <li class="mil-up">Wireframing</li>
                                                    </ul>
                                                    <div class="mil-link mil-accent mil-arrow-place mil-up">
                                                        <span>Read more</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <a href="{% url 'service-page' %}" class="mil-service-card-lg mil-more mil-accent-cursor">
                                                    <h4 class="mil-muted mil-up mil-mb-30">Website Design <br>and Development</h4>
                                                    <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                                    <ul class="mil-service-list mil-light mil-mb-30">
                                                        <li class="mil-up">UX Audits</li>
                                                        <li class="mil-up">Design thinking</li>
                                                        <li class="mil-up">Methodologies</li>
                                                        <li class="mil-up">Wireframing</li>
                                                    </ul>
                                                    <div class="mil-link mil-accent mil-arrow-place mil-up">
                                                        <span>Read more</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <a href="{% url 'service-page' %}" class="mil-service-card-lg mil-more mil-accent-cursor mil-offset">
                                                    <h4 class="mil-muted mil-up mil-mb-30">Advertising and <br>Marketing Campaigns</h4>
                                                    <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                                    <ul class="mil-service-list mil-light mil-mb-30">
                                                        <li class="mil-up">UX Audits</li>
                                                        <li class="mil-up">Design thinking</li>
                                                        <li class="mil-up">Methodologies</li>
                                                        <li class="mil-up">Wireframing</li>
                                                    </ul>
                                                    <div class="mil-link mil-accent mil-arrow-place mil-up">
                                                        <span>Read more</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <a href="{% url 'service-page' %}" class="mil-service-card-lg mil-more mil-accent-cursor">
                                                    <h4 class="mil-muted mil-up mil-mb-30">Creative Consulting <br>Concept Development</h4>
                                                    <p class="mil-descr mil-light-soft mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                                    <ul class="mil-service-list mil-light mil-mb-30">
                                                        <li class="mil-up">UX Audits</li>
                                                        <li class="mil-up">Design thinking</li>
                                                        <li class="mil-up">Methodologies</li>
                                                        <li class="mil-up">Wireframing</li>
                                                    </ul>
                                                    <div class="mil-link mil-accent mil-arrow-place mil-up">
                                                        <span>Read more</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- services end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Let’s make an <span class="mil-thin">impact</span><br> together. Ready <span class="mil-thin">when you are</span></h2>
                            <div class="mil-up"><a href="{% url 'contact-page' %}" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->
                {% endblock content %}