{% extends 'base.html' %}
{% load static %}
{% block title %} Service {% endblock title %}
{% block content %}

<body>

    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        <!-- cursor -->
        <div class="mil-ball">
            <span class="mil-icon-1">
                <svg viewBox="0 0 128 128">
                    <path d="M106.1,41.9c-1.2-1.2-3.1-1.2-4.2,0c-1.2,1.2-1.2,3.1,0,4.2L116.8,61H11.2l14.9-14.9c1.2-1.2,1.2-3.1,0-4.2	c-1.2-1.2-3.1-1.2-4.2,0l-20,20c-1.2,1.2-1.2,3.1,0,4.2l20,20c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9c1.2-1.2,1.2-3.1,0-4.2	L11.2,67h105.5l-14.9,14.9c-1.2,1.2-1.2,3.1,0,4.2c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9l20-20c1.2-1.2,1.2-3.1,0-4.2L106.1,41.9	z" />
                </svg>
            </span>
            <div class="mil-more-text">More</div>
            <div class="mil-choose-text">Сhoose</div>
        </div>
        <!-- cursor end -->

        <!-- preloader -->
        <div class="mil-preloader">
            <div class="mil-preloader-animation">
                <div class="mil-pos-abs mil-animation-1">
                    <p class="mil-h3 mil-muted mil-thin">Pioneering</p>
                    <p class="mil-h3 mil-muted">Creative</p>
                    <p class="mil-h3 mil-muted mil-thin">Excellence</p>
                </div>
                <div class="mil-pos-abs mil-animation-2">
                    <div class="mil-reveal-frame">
                        <p class="mil-reveal-box"></p>
                        <p class="mil-h3 mil-muted mil-thin">ashley.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!-- scrollbar progress -->
        <div class="mil-progress-track">
            <div class="mil-progress"></div>
        </div>
        <!-- scrollbar progress end -->

        <!-- menu -->
        <div class="mil-menu-frame">
            <!-- frame clone -->
            <div class="mil-frame-top">
                <a href="{% url 'home-page' %}" class="mil-logo">A.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <!-- frame clone end -->
            <div class="container">
                <div class="mil-menu-content">
                    <div class="row">
                        <div class="col-xl-5">

                            <nav class="mil-main-menu" id="swupMenu">
                                <ul>
                                    <li class="mil-has-children ">
                                        <a href="{% url 'home-page' %}">Homepage</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'portfolio-page' %}">Portfolio</a>
                                    </li>
                                    <li class="mil-has-children mil-active">
                                        <a href="{% url 'service-page' %}">Services</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'blog-page' %}">Blog</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'team-page' %}">Team</a>
                                    </li>
                                    <li class="mil-has-children">
                                        <a href="{% url 'contact-page' %}">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu -->

        <!-- curtain -->
        <div class="mil-curtain"></div>
        <!-- curtain end -->

        <!-- frame -->
        <div class="mil-frame">
            <div class="mil-frame-top">
                <a href="{% url 'home-page' %}" class="mil-logo">A.</a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
            <div class="mil-frame-bottom">
                <div class="mil-current-page"></div>
                <div class="mil-back-to-top">
                    <a href="#top" class="mil-link mil-dark mil-arrow-place">
                        <span>Back to top</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- frame end -->

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-animation-frame">
                        <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                    </div>
                    <div class="mil-banner-content mil-up">
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-mb-60">
                                <li><a href="{% url 'home-page' %}">Homepage</a></li>
                                <li><a href="{% url 'services-page' %}">Services</a></li>
                                <li><a href="{% url 'service-page' %}">Service</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Website <span class="mil-thin">Design</span><br> and <span class="mil-thin">Development</span></h1>
                            <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>About service</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- service -->
                <section id="service">
                    <div class="container mil-p-120-90">
                        <div class="row justify-content-between">
                            <div class="col-lg-4 mil-relative mil-mb-90">

                                <h4 class="mil-up mil-mb-30">Your <span class="mil-thin">Approach</span> <br>and <span class="mil-thin">Work Specifics</span></h4>
                                <p class="mil-up mil-mb-30">At our agency, we have a unique approach to web design and development. We believe in creating websites that not only look great but also perform well in terms of user experience, functionality, and search engine optimization.</p>
                                <div class="mil-up">
                                    <a href="{% url 'portfolio-page' %}" class="mil-link mil-dark mil-arrow-place">
                                        <span>View works</span>
                                    </a>
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">UX Audits</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">A UX audit is a service that evaluates the user experience (UX) of a website. It involves analyzing the website's design, functionality, and content to identify areas of improvement that can enhance the user's overall experience.</p>

                                        <p class="mil-mb-30">During a UX audit, a team of UX experts will conduct a thorough review of the website and provide a comprehensive report that outlines specific recommendations for improving the website's usability, accessibility, and overall user experience.</p>

                                        <p class="mil-mb-30">The audit may cover various aspects of the website, such as navigation, layout, visual design, content structure, and mobile responsiveness. The goal is to identify any pain points or obstacles that users may encounter while browsing the website and provide actionable recommendations to improve their experience.</p>

                                        <p class="mil-mb-30">In summary, a UX audit can help website owners identify areas of improvement that can enhance their website's user experience and increase user engagement and satisfaction.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">Design thinking</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Design thinking is a problem-solving approach that emphasizes empathy, creativity, and collaboration. It involves understanding the needs and perspectives of users, identifying and defining the problem, generating multiple possible solutions, prototyping and testing those solutions, and iterating based on feedback.</p>
                                        <p class="mil-mb-30">Design thinking encourages a human-centered approach to innovation and is often used in fields such as product design, user experience (UX) design, and business strategy to create user-centric and innovative solutions. It promotes a mindset that embraces experimentation, iteration, and continuous learning throughout the design process.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">wireframing</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Wireframing is a vital step in web design where a visual representation of a website's structure is created. It focuses on layout and user experience, using basic shapes and lines to outline elements like headers, menus, and content sections. Wireframes establish the website's architecture and functionality, facilitating communication between designers, developers, and clients. They serve as a blueprint for user-friendly websites, setting the foundation for design and development.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">Aesthetics</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Aesthetics in web design focus on the visual appeal of a website, incorporating elements like colors, typography, images, and layout. It aims to create an engaging and visually pleasing user experience that reflects the brand identity and purpose of the website. A well-designed aesthetic balances visual appeal with functionality, leaving a lasting impression on users.</p>
                                    </div>
                                </div>

                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">Methodologies</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">Libero quam alias tempora facilis necessitatibus quis officiis voluptatem architecto harum exercitationem quidem illum eligendi. Veniam non vitae, nemo dolor tempora, necessitatibus enim sapiente quam voluptas architecto minima omnis sequi aperiam aliquam vel quo reprehenderit, tempore tenetur. Architecto dolorem assumenda voluptas, odio nemo vero illo praesentium pariatur, ut perspiciatis, est itaque minus ratione vitae laboriosam molestiae.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- service end -->

                <!-- prices -->
                <section class="mil-dark-bg">
                    <div class="mi-invert-fix">
                        <div class="container mil-p-120-120">
                            <div class="mil-center">
                                <h2 class="mil-muted mil-up mil-mb-30">Reasonable <span class="mil-thin">prices</span> <br>for innovative <span class="mil-thin">solutions</span></h2>
                                <p class="mil-light-soft mil-up mil-mb-120">At our agency, we have a unique approach to web design and development. <br>We believe in creating in terms of user experience, functionality.</p>
                            </div>

                            <a href="{% url 'contact-page' %}" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                                <div class="row align-items-center">
                                    <div class="col-lg-2">
                                        <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">19</span></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="mil-muted mil-mb-30">Tailored Designs for<br> Every Budget</h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="mil-light-soft mil-mb-30">Tomlo commodi, mollitia atque betae esse itaque a, voluptatibus, suscipit beatae officiis omnis.</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mil-adaptive-right mil-mb-30">
                                            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{% url 'contact-page' %}" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                                <div class="row align-items-center">
                                    <div class="col-lg-2">
                                        <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">29</span></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="mil-muted mil-mb-30">Inspiring and Customized <br> Design Solutions</h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="mil-light-soft mil-mb-30">Tomlo commodi, mollitia atque betae esse itaque a, voluptatibus, suscipit beatae officiis omnis.</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mil-adaptive-right mil-mb-30">
                                            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{% url 'contact-page' %}" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                                <div class="row align-items-center">
                                    <div class="col-lg-2">
                                        <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">49</span></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="mil-muted mil-mb-30">Unleashing the Beauty of Space <br> with Unique Designs</h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="mil-light-soft mil-mb-30">Tomlo commodi, mollitia atque betae esse itaque a, voluptatibus, suscipit beatae officiis omnis.</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mil-adaptive-right mil-mb-30">
                                            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{% url 'contact-page' %}" class="mil-price-card mil-choose mil-accent-cursor mil-up mil-mb-60">
                                <div class="row align-items-center">
                                    <div class="col-lg-2">
                                        <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">199</span></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="mil-muted mil-mb-30">Exquisite Design Concepts <br> for Discerning Clients</h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="mil-light-soft mil-mb-30">Tomlo commodi, mollitia atque betae esse itaque a, voluptatibus, suscipit beatae officiis omnis.</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mil-adaptive-right mil-mb-30">
                                            <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <div class="mil-center">
                                <a href="{% url 'contact-page' %}" class="mil-button  mil-arrow-place">
                                    <span>individual solution</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- prices end -->

                <!-- other services -->
                <section>
                    <div class="container mil-p-120-90">
                        <div class="row align-items-center mil-mb-30">
                            <div class="col-lg-6 mil-mb-30">
                                <h3 class="mil-up">Other services</h3>
                            </div>
                            <div class="col-lg-6 mil-mb-30">
                                <div class="mil-adaptive-right mil-up">
                                    <a href="{% url 'services-page' %}" class="mil-link mil-dark mil-arrow-place">
                                        <span>View all</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">

                                <a href="{% url 'service-page' %}" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
                                    <h4 class="mil-up mil-mb-30">Branding and <br>Identity Design</h4>
                                    <p class="mil-descr mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                    <ul class="mil-service-list mil-dark mil-mb-30">
                                        <li class="mil-up">UX Audits</li>
                                        <li class="mil-up">Design thinking</li>
                                        <li class="mil-up">Methodologies</li>
                                        <li class="mil-up">Wireframing</li>
                                    </ul>
                                    <div class="mil-link mil-dark mil-arrow-place mil-up">
                                        <span>Read more</span>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-4">

                                <a href="{% url 'service-page' %}" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
                                    <h4 class="mil-up mil-mb-30">Advertising <br>and Marketing</h4>
                                    <p class="mil-descr mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                    <ul class="mil-service-list mil-dark mil-mb-30">
                                        <li class="mil-up">UX Audits</li>
                                        <li class="mil-up">Design thinking</li>
                                        <li class="mil-up">Methodologies</li>
                                        <li class="mil-up">Wireframing</li>
                                    </ul>
                                    <div class="mil-link mil-dark mil-arrow-place mil-up">
                                        <span>Read more</span>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-4">

                                <a href="{% url 'service-page' %}" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
                                    <h4 class="mil-up mil-mb-30">Creative <br>Consulting</h4>
                                    <p class="mil-descr mil-up mil-mb-30">Our creative agency is a team of professionals focused on helping your brand grow.</p>
                                    <ul class="mil-service-list mil-dark mil-mb-30">
                                        <li class="mil-up">UX Audits</li>
                                        <li class="mil-up">Design thinking</li>
                                        <li class="mil-up">Methodologies</li>
                                        <li class="mil-up">Wireframing</li>
                                    </ul>
                                    <div class="mil-link mil-dark mil-arrow-place mil-up">
                                        <span>Read more</span>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- other services end -->
                {% endblock content %}